.meat {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-image: url('../../../assets/photos/The Meadow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    
}



.IntroBox {

    height: 800px;
    max-width: 60%;
    background-color: rgba(0, 255, 255, 0.7);
    align-items: center;
    padding: 3%;
    flex: .33;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    
   
}

.ContactBox {
    padding: 4%;
    margin: 3rem;
    border-radius: 1rem;
}

